    <footer>
      <a href="#" class="post-link">
        <div class="post-link-img">
         <img src="./images/icon_camera-.png" width="54" height="50">
        </div>
        <p class="post-link-text">投稿する</p>
      </a>
      <p>Copyright(C) sauna ALL RIGHTS RESERVED.</p>
    </footer>